@use 'general' as *
@use 'colors' as *
@use 'typographie' as *
@use 'mixins' as *
@use 'carrousel' as *


.arsenal,
.vehicle
    &__titre
        @extend %titre
            
    &__sousTitre
        @extend %sousTitre
    &__note
        @include text_font(1.5rem, $teal )
        @include glow-effect($cyan, $darkTurquoise)
        

.card
    &__title
        color: $cyan
    &__txt
        color: $darkTurquoise

.item
    &__title
        color: $purWhite

.systemeUI
    &__screen
        background-color: $teal
    &__tabs
        background-color: $deepBlack

.tab
    &__dialog
        border-left: 3px solid $deepBlack
        min-height: 130px
        @include responsive(1280px)
            min-height: 215px
        
    &__btn
        cursor: pointer
        color: $cyan
        :hover
            @include glow-effect($cyan, $darkTurquoise)
        &--current
            color: $teal
.dialog
    &__txt
        font-family: "roboto"
        font-size: 1.3rem
        color:$deepBlack
        font-weight: 900
        
        &--list
            font-family: "roboto"
            font-size: 1.2rem
            color:$deepBlack
            font-weight: 900
.txt
    &--list
        &--title
            color: $brightGray

.terminal-button 
    padding: 0.5rem 1rem
    border: 1px solid #00ffff
    display: inline-block
    cursor: pointer
    transition: background-color color 0.3s ease
    &:hover 
        color: $deepBlack
        background-color: $cyan

        

