$deepBlack:     #0d0d0d
$darkSlateGray: #303030
$gray:          #7a7a7a
$brightGray:    #a9a6a6
$purWhite:      #fafafa
$cyan:          #00fcfc
$darkTurquoise: #00cdcd
$teal:          #007e80
$redAlert:      #ff3b3b
$yellow:        #fdd700
