@use 'colors' as *
@use 'typographie' as *
@use 'mixins' as *

body
    background-color: $deepBlack

h1
    @include header_font(6rem)
h2
    @include header_font(4rem)
h3
    @include header_font(3rem)
h4
    @include header_font(2.5rem)
    font-style: italic

p
    @include text_font(1.2rem, $brightGray)

a
    @include text_font(1.2rem, $brightGray)
    cursor: pointer
    text-decoration: underline
    text-underline-offset: 6px
    text-decoration-color: transparent
    transition: all 0.6s ease-out
    &:hover
        text-decoration-color: $cyan
    &:active
        color: $teal
        
%titre
    @include header_font(4rem)
    @include responsive(570px)
        @include header_font(3.3rem)
        
%sousTitre
    @include text_font(1.4rem, $brightGray )
    @include glow-effect($darkTurquoise, $cyan)
    text-align: right

%bouton
    @include header_font(1.2rem)    
    color: $darkTurquoise
    border: 2px solid $darkTurquoise
    padding: 15px
    position: relative
    transition: top 0.6s ease-out !important
    &:hover
        color: $cyan
        border-color: $cyan
        top: -5px 

.current
    color: $teal

.bouton
    @extend %bouton

.divider
    max-width: 100%    
    height: 2px
    background-color: $teal
.menu
    &__list
        list-style: none

/* CSS pour le lien caché */
.screen-reader-text  
    border: 0
    clip-path: inset(50%)
    height: 1px
    margin: -1px
    overflow: hidden
    padding: 0
    position: absolute
    width: 1px
    word-wrap: normal !important

.secret
    color: transparent
    transition: all 0.3s ease-in
    &:hover
        color: $cyan