@use 'colors' as *
@use 'typographie' as *
@use 'mixins' as *

body
    background-color: $deepBlack

h1
    @include header_font(6rem)
h2
    @include header_font(4rem)
h3
    @include header_font(3rem)

p
    @include text_font(1.2rem, $brightGray)

a
    @include text_font(1.2rem, $brightGray)

.divider    
    height: 2px
    background-color: $teal
menu
    &__list
        list-style: none

